{ApplicationDescription = "Lookup app"; ApplicationName = "Lookup.app"; ApplicationRelease = "1.0"; ApplicationURL = ""; FullVersionID = "1.0/1.0"; NSIcon = "AppIcon.tiff"; NSPrincipalClass = NSApplication; NSRole = None; NSServices = ({NSMenuItem = {default = "Look Up Selection"; }; NSMessage = executeService; NSPortName = Lookup; NSSendTypes = (NSStringPboardType); NSUserData = "Service_000"; }); }