<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ogg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Cynthiune-song</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/ogg</string>
				<string>application/x-ogg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Ogg music file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp3</string>
				<string>mp2</string>
				<string>mpa</string>
				<string>mpga</string>
				<string>mpega</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Cynthiune-song</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/mpeg</string>
				<string>audio/x-mpeg</string>
				<string>audio/mpeg3</string>
				<string>audio/x-mpeg3</string>
				<string>audio/mpg</string>
				<string>audio/x-mpg</string>
				<string>audio/mp3</string>
				<string>audio/x-mp3</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MPEG music file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpc</string>
				<string>mp+</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Cynthiune-song</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/musepack</string>
				<string>audio/x-musepack</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Musepack music file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fla</string>
				<string>flac</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Cynthiune-song</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/flac</string>
				<string>audio/x-flac</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>FLAC music file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aif</string>
				<string>aifc</string>
				<string>aiff</string>
				<string>au</string>
				<string>avr</string>
				<string>iff</string>
				<string>nist</string>
				<string>snd</string>
				<string>wav</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Cynthiune-song</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/aiff</string>
				<string>audio/x-aiff</string>
				<string>audio/basic</string>
				<string>audio/x-basic</string>
				<string>audio/au</string>
				<string>audio/x-au</string>
				<string>audio/x-ulaw</string>
				<string>audio/avr</string>
				<string>audio/x-avr</string>
				<string>application/iff</string>
				<string>application/x-iff</string>
				<string>audio/nist</string>
				<string>audio/x-nist</string>
				<string>audio/snd</string>
				<string>audio/x-snd</string>
				<string>audio/wav</string>
				<string>audio/x-wav</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Sound file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mod</string>
				<string>it</string>
				<string>xm</string>
				<string>669</string>
				<string>amf</string>
				<string>ams</string>
				<string>dbm</string>
				<string>dmf</string>
				<string>dsm</string>
				<string>far</string>
				<string>it</string>
				<string>j2b</string>
				<string>mdl</string>
				<string>med</string>
				<string>mod</string>
				<string>mt2</string>
				<string>mtm</string>
				<string>okt</string>
				<string>psm</string>
				<string>ptm</string>
				<string>s3m</string>
				<string>stm</string>
				<string>ult</string>
				<string>umx</string>
				<string>mod</string>
				<string>xm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Cynthiune-song</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/669</string>
				<string>audio/amf</string>
				<string>audio/ams</string>
				<string>audio/dbm</string>
				<string>audio/dmf</string>
				<string>audio/dsm</string>
				<string>audio/far</string>
				<string>audio/it</string>
				<string>audio/j2b</string>
				<string>audio/mdl</string>
				<string>audio/med</string>
				<string>audio/mod</string>
				<string>audio/mt2</string>
				<string>audio/mtm</string>
				<string>audio/okt</string>
				<string>audio/psm</string>
				<string>audio/ptm</string>
				<string>audio/s3m</string>
				<string>audio/stm</string>
				<string>audio/ult</string>
				<string>audio/umx</string>
				<string>audio/mod</string>
				<string>audio/xm</string>
				<string>audio/x-669</string>
				<string>audio/x-amf</string>
				<string>audio/x-ams</string>
				<string>audio/x-dbm</string>
				<string>audio/x-dmf</string>
				<string>audio/x-dsm</string>
				<string>audio/x-far</string>
				<string>audio/x-it</string>
				<string>audio/x-j2b</string>
				<string>audio/x-mdl</string>
				<string>audio/x-med</string>
				<string>audio/x-mod</string>
				<string>audio/x-mt2</string>
				<string>audio/x-mtm</string>
				<string>audio/x-okt</string>
				<string>audio/x-psm</string>
				<string>audio/x-ptm</string>
				<string>audio/x-s3m</string>
				<string>audio/x-stm</string>
				<string>audio/x-ult</string>
				<string>audio/x-umx</string>
				<string>audio/x-mod</string>
				<string>audio/x-xm</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Tracker music file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pls</string>
				<string>m3u</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Cynthiune-playlist</string>
			<key>CFBundleTypeName</key>
			<string>Playlist file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Cynthiune</string>
	<key>CFBundleGetInfoString</key>
	<string>A free software and romantic music player</string>
	<key>CFBundleIconFile</key>
	<string>Cynthiune.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.nongnu.gap.Cynthiune</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Cynthiune</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>Version 1.0.0</string>
	<key>CFBundleSignature</key>
	<string>WOSO</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>NSMainNibFile</key>
	<string>Cynthiune</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
