{
	"Basic Latin" = (0, 127);
	"Latin-1 Supplement" = (128, 255);
	"Latin Extended-A" = (256, 383);
	"Latin Extended-B" = (384, 591);
	"IPA Extensions" = (592, 687);
	"Spacing Modifier Letters" = (688, 767);
	"Combining Diacritical Marks" = (768, 879);
	"Greek and Coptic" = (880, 1023);
	"Cyrillic" = (1024, 1279);
	"Cyrillic Supplement" = (1280, 1327);
	"Armenian" = (1328, 1423);
	"Hebrew" = (1424, 1535);
	"Arabic" = (1536, 1791);
	"Syriac" = (1792, 1871);
	"Arabic Supplement" = (1872, 1919);
	"Thaana" = (1920, 1983);
	"NKo" = (1984, 2047);
	"Devanagari" = (2048, 2431);
	"Bengali" = (2432, 2559);
	"Gurmukhi" = (2560, 2687);
	"Gujarati" = (2688, 2815);
	"Oriya" = (2816, 2943);
	"Tamil" = (2944, 3071);
	"Telugu" = (3072, 3199);
	"Kannada" = (0x0C80, 0x0CFF);
	"Malayalam" = (0x0D00, 0x0D7F);
	"Sinhala" = (0x0D80, 0x0DFF);
	"Thai" = (0x0E00, 0x0E7F);
	"Lao" = (0x0E80, 0x0EFF);
	"Tibetan" = (0x0F00, 0x0FFF);
	"Myanmar" = (0x1000, 0x109F);
	"Georgian" = (0x10A0, 0x10FF);
	"Hangul Jamo" = (0x1100, 0x11FF);
	"Ethiopic" = (0x1200, 0x137F);
	"Ethiopic Supplement" = (0x1380, 0x139F);
	"Cherokee" = (0x13A0, 0x13FF);
	"Unified Canadian Aboriginal Syllabics" = (0x1400, 0x167F);
	"Ogham" = (0x1680, 0x169F);
	"Runic" = (0x16A0, 0x16FF);
	"Tagalog" = (0x1700, 0x171F);
	"Hanunoo" = (0x1720, 0x173F);
	"Buhid" = (0x1740, 0x175F);
	"Tagbanwa" = (0x1760, 0x177F);
	"Khmer" = (0x1780, 0x17FF);
	"Mongolian" = (0x1800, 0x18AF);
	"Limbu" = (0x1900, 0x194F);
	"Tai Le" = (0x1950, 0x197F);
	"New Tai Lue" = (0x1980, 0x19DF);
	"Khmer Symbols" = (0x19E0, 0x19FF);
	"Buginese" = (0x1A00, 0x1A1F);
	"Balinese" = (0x1B00, 0x1B7F);
	"Phonetic Extensions" = (0x1D00, 0x1D7F);
	"Phonetic Extensions Supplement" = (0x1D80, 0x1DBF);
	"Combining Diacritical Marks Supplement" = (0x1DC0, 0x1DFF);
	"Latin Extended Additional" = (0x1E00, 0x1EFF);
	"Greek Extended" = (0x1F00, 0x1FFF);
	"General Punctuation" = (0x2000, 0x206F);
	"Superscripts and Subscripts" = (0x2070, 0x209F);
	"Currency Symbols" = (0x20A0, 0x20CF);
	"Combining Diacritical Marks for Symbols" = (0x20D0, 0x20FF);
	"Letterlike Symbols" = (0x2100, 0x214F);
	"Number Forms" = (0x2150, 0x218F);
	"Arrows" = (0x2190, 0x21FF);
	"Mathematical Operators" = (0x2200, 0x22FF);
	"Miscellaneous Technical" = (0x2300, 0x23FF);
	"Control Pictures" = (0x2400, 0x243F);
	"Optical Character Recognition" = (0x2440, 0x245F);
	"Enclosed Alphanumerics" = (0x2460, 0x24FF);
	"Box Drawing" = (0x2500, 0x257F);
	"Block Elements" = (0x2580, 0x259F);
	"Geometric Shapes" = (0x25A0, 0x25FF);
	"Miscellaneous Symbols" = (0x2600, 0x26FF);
	"Dingbats" = (0x2700, 0x27BF);
	"Miscellaneous Mathematical Symbols-A" = (0x27C0, 0x27EF);
	"Supplemental Arrows-A" = (0x27F0, 0x27FF);
	"Braille Patterns" = (0x2800, 0x28FF);
	"Supplemental Arrows-B" = (0x2900, 0x297F);
	"Miscellaneous Mathematical Symbols-B" = (0x2980, 0x29FF);
	"Supplemental Mathematical Operators" = (0x2A00, 0x2AFF);
	"Miscellaneous Symbols and Arrows" = (0x2B00, 0x2BFF);
	"Glagolitic" = (0x2C00, 0x2C5F);
	"Latin Extended-C" = (0x2C60, 0x2C7F);
	"Coptic" = (0x2C80, 0x2CFF);
	"Georgian Supplement" = (0x2D00, 0x2D2F);
	"Tifinagh" = (0x2D30, 0x2D7F);
	"Ethiopic Extended" = (0x2D80, 0x2DDF);
	"Supplemental Punctuation" = (0x2E00, 0x2E7F);
	"CJK Radicals Supplement" = (0x2E80, 0x2EFF);
	"Kangxi Radicals" = (0x2F00, 0x2FDF);
	"Ideographic Description Characters" = (0x2FF0, 0x2FFF);
	"CJK Symbols and Punctuation" = (0x3000, 0x303F);
	"Hiragana" = (0x3040, 0x309F);
	"Katakana" = (0x30A0, 0x30FF);
	"Bopomofo" = (0x3100, 0x312F);
	"Hangul Compatibility Jamo" = (0x3130, 0x318F);
	"Kanbun" = (0x3190, 0x319F);
	"Bopomofo Extended" = (0x31A0, 0x31BF);
	"CJK Strokes" = (0x31C0, 0x31EF);
	"Katakana Phonetic Extensions" = (0x31F0, 0x31FF);
	"Enclosed CJK Letters and Months" = (0x3200, 0x32FF);
	"CJK Compatibility" = (0x3300, 0x33FF);
	"CJK Unified Ideographs Extension A" = (0x3400, 0x4DBF);
	"Yijing Hexagram Symbols" = (0x4DC0, 0x4DFF);
	"CJK Unified Ideographs" = (0x4E00, 0x9FFF);
	"Yi Syllables" = (0xA000, 0xA48F);
	"Yi Radicals" = (0xA490, 0xA4CF);
	"Modifier Tone Letters" = (0xA700, 0xA71F);
	"Latin Extended-D" = (0xA720, 0xA7FF);
	"Syloti Nagri" = (0xA800, 0xA82F);
	"Phags-pa" = (0xA840, 0xA87F);
	"Hangul Syllables" = (0xAC00, 0xD7AF);
	"High Surrogates" = (0xD800, 0xDB7F);
	"High Private Use Surrogates" = (0xDB80, 0xDBFF);
	"Low Surrogates" = (0xDC00, 0xDFFF);
	"Private Use Area" = (0xE000, 0xF8FF);
	"CJK Compatibility Ideographs" = (0xF900, 0xFAFF);
	"Alphabetic Presentation Forms" = (0xFB00, 0xFB4F);
	"Arabic Presentation Forms-A" = (0xFB50, 0xFDFF);
	"Variation Selectors" = (0xFE00, 0xFE0F);
	"Vertical Forms" = (0xFE10, 0xFE1F);
	"Combining Half Marks" = (0xFE20, 0xFE2F);
	"CJK Compatibility Forms" = (0xFE30, 0xFE4F);
	"Small Form Variants" = (0xFE50, 0xFE6F);
	"Arabic Presentation Forms-B" = (0xFE70, 0xFEFF);
	"Halfwidth and Fullwidth Forms" = (0xFF00, 0xFFEF);
	"Specials" = (0xFFF0, 0xFFFF);
	"Linear B Syllabary" = (0x10000, 0x1007F);
	"Linear B Ideograms" = (0x10080, 0x100FF);
	"Aegean Numbers" = (0x10100, 0x1013F);
	"Ancient Greek Numbers" = (0x10140, 0x1018F);
	"Old Italic" = (0x10300, 0x1032F);
	"Gothic" = (0x10330, 0x1034F);
	"Ugaritic" = (0x10380, 0x1039F);
	"Old Persian" = (0x103A0, 0x103DF);
	"Deseret" = (0x10400, 0x1044F);
	"Shavian" = (0x10450, 0x1047F);
	"Osmanya" = (0x10480, 0x104AF);
	"Cypriot Syllabary" = (0x10800, 0x1083F);
	"Phoenician" = (0x10900, 0x1091F);
	"Kharoshthi" = (0x10A00, 0x10A5F);
	"Cuneiform" = (0x12000, 0x123FF);
	"Cuneiform Numbers and Punctuation" = (0x12400, 0x1247F);
	"Byzantine Musical Symbols" = (0x1D000, 0x1D0FF);
	"Musical Symbols" = (0x1D100, 0x1D1FF);
	"Ancient Greek Musical Notation" = (0x1D200, 0x1D24F);
	"Tai Xuan Jing Symbols" = (0x1D300, 0x1D35F);
	"Counting Rod Numerals" = (0x1D360, 0x1D37F);
	"Mathematical Alphanumeric Symbols" = (0x1D400, 0x1D7FF);
	"CJK Unified Ideographs Extension B" = (0x20000, 0x2A6DF);
	"CJK Compatibility Ideographs Supplement" = (0x2F800, 0x2FA1F);
	"Tags" = (0xE0000, 0xE007F);
	"Variation Selectors Supplement" = (0xE0100, 0xE01EF);
	"Supplementary Private Use Area-A" = (0xF0000, 0xFFFFF);
	"Supplementary Private Use Area-B" = (0x100000, 0x10FFFF);
}
