(
	"Basic Latin",
	"Latin-1 Supplement",
	"Latin Extended-A",
	"Latin Extended-B",
	"IPA Extensions",
	"Spacing Modifier Letters",
	"Combining Diacritical Marks",
	"Greek and Coptic",
	"Cyrillic",
	"Cyrillic Supplement",
	"Armenian",
	"Hebrew",
	"Arabic",
	"Syriac",
	"Arabic Supplement",
	"Thaana",
	"NKo",
	"Devanagari",
	"Bengali",
	"Gurmukhi",
	"Gujarati",
	"Oriya",
	"Tamil",
	"Telugu",
	"Kannada",
	"Malayalam",
	"Sinhala",
	"Thai",
	"Lao",
	"Tibetan",
	"Myanmar",
	"Georgian",
	"Hangul Jamo",
	"Ethiopic",
	"Ethiopic Supplement",
	"Cherokee",
	"Unified Canadian Aboriginal Syllabics",
	"Ogham",
	"Runic",
	"Tagalog",
	"Hanunoo",
	"Buhid",
	"Tagbanwa",
	"Khmer",
	"Mongolian",
	"Limbu",
	"Tai Le",
	"New Tai Lue",
	"Khmer Symbols",
	"Buginese",
	"Balinese",
	"Phonetic Extensions",
	"Phonetic Extensions Supplement",
	"Combining Diacritical Marks Supplement",
	"Latin Extended Additional",
	"Greek Extended",
	"General Punctuation",
	"Superscripts and Subscripts",
	"Currency Symbols",
	"Combining Diacritical Marks for Symbols",
	"Letterlike Symbols",
	"Number Forms",
	"Arrows",
	"Mathematical Operators",
	"Miscellaneous Technical",
	"Control Pictures",
	"Optical Character Recognition",
	"Enclosed Alphanumerics",
	"Box Drawing",
	"Block Elements",
	"Geometric Shapes",
	"Miscellaneous Symbols",
	"Dingbats",
	"Miscellaneous Mathematical Symbols-A",
	"Supplemental Arrows-A",
	"Braille Patterns",
	"Supplemental Arrows-B",
	"Miscellaneous Mathematical Symbols-B",
	"Supplemental Mathematical Operators",
	"Miscellaneous Symbols and Arrows",
	"Glagolitic",
	"Latin Extended-C",
	"Coptic",
	"Georgian Supplement",
	"Tifinagh",
	"Ethiopic Extended",
	"Supplemental Punctuation",
	"CJK Radicals Supplement",
	"Kangxi Radicals",
	"Ideographic Description Characters",
	"CJK Symbols and Punctuation",
	"Hiragana",
	"Katakana",
	"Bopomofo",
	"Hangul Compatibility Jamo",
	"Kanbun",
	"Bopomofo Extended",
	"CJK Strokes",
	"Katakana Phonetic Extensions",
	"Enclosed CJK Letters and Months",
	"CJK Compatibility",
	"CJK Unified Ideographs Extension A",
	"Yijing Hexagram Symbols",
	"CJK Unified Ideographs",
	"Yi Syllables",
	"Yi Radicals",
	"Modifier Tone Letters",
	"Latin Extended-D",
	"Syloti Nagri",
	"Phags-pa",
	"Hangul Syllables",
	"High Surrogates",
	"High Private Use Surrogates",
	"Low Surrogates",
	"Private Use Area",
	"CJK Compatibility Ideographs",
	"Alphabetic Presentation Forms",
	"Arabic Presentation Forms-A",
	"Variation Selectors",
	"Vertical Forms",
	"Combining Half Marks",
	"CJK Compatibility Forms",
	"Small Form Variants",
	"Arabic Presentation Forms-B",
	"Halfwidth and Fullwidth Forms",
	"Specials",
	"Linear B Syllabary",
	"Linear B Ideograms",
	"Aegean Numbers",
	"Ancient Greek Numbers",
	"Old Italic",
	"Gothic",
	"Ugaritic",
	"Old Persian",
	"Deseret",
	"Shavian",
	"Osmanya",
	"Cypriot Syllabary",
	"Phoenician",
	"Kharoshthi",
	"Cuneiform",
	"Cuneiform Numbers and Punctuation",
	"Byzantine Musical Symbols",
	"Musical Symbols",
	"Ancient Greek Musical Notation",
	"Tai Xuan Jing Symbols",
	"Counting Rod Numerals",
	"Mathematical Alphanumeric Symbols",
	"CJK Unified Ideographs Extension B",
	"CJK Compatibility Ideographs Supplement",
	"Tags",
	"Variation Selectors Supplement",
	"Supplementary Private Use Area-A",
	"Supplementary Private Use Area-B"
)