[Unit]
Description=GNUstep Distributed Objects GSDE
After=syslog.target network.target

[Service]
Type=forking
Environment=LD_LIBRARY_PATH=/Library/Libraries
ExecStart=/usr/local/bin/gdomap-gsde -p
ExecStop=/bin/kill -INT $MAINPID
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
