{Activate = {Action = RunScript; Shell = "/bin/bash"; }; Filter = {Action = Ignore; Shell = "/bin/bash"; }; Open = {Action = RunScript; Shell = "/bin/bash"; }; "Service_000" = {Action = RunScript; ReturnType = ""; SendType = NSStringPboardType; Shell = "/bin/bash"; }; Start = {Action = RunScript; Shell = "/bin/bash"; }; StartOpen = {Action = RunScript; Shell = "/bin/bash"; }; Version = 1; }
