{ApplicationDescription = "A wrapped application"; ApplicationName = "DocConverter.app"; ApplicationRelease = "1.0"; ApplicationURL = ""; FullVersionID = "1.0/1.0"; NSIcon = "AppIcon.tiff"; NSPrincipalClass = NSApplication; NSRole = None; NSServices = ({NSFilter = executeFilter; NSPortName = DocConverter; NSReturnTypes = (NSPDFPboardType); NSSendTypes = (NSFilenamesPboardType, "NSTypedFileContentsPboardType:ps", "NSTypedFileContentsPboardType:dvi"); NSUserData = NSPDFPboardType; }, {NSFilter = executeFilter; NSPortName = DocConverter; NSReturnTypes = (NSHTMLPboardType); NSSendTypes = (NSFilenamesPboardType, "NSTypedFileContentsPboardType:md"); NSUserData = NSHTMLPboardType; }); NSTypes = ({NSIcon = "FileType_000.tiff"; NSName = "PDF filter files"; NSUnixExtensions = (ps, dvi); }, {NSIcon = "FileType_002.tiff"; NSName = "HTML filter files"; NSUnixExtensions = (md); }); }