{Activate = {Action = RunScript; Shell = "/bin/sh"; }; Filter = {Action = Ignore; Shell = "/bin/sh"; }; Open = {Action = RunScript; Shell = "/bin/sh"; }; UserInterface = {Action = RunScript; Shell = "/bin/sh"; }; "Service_000" = {Action = RunScript; ReturnType = ""; SendType = NSStringPboardType; Shell = "/bin/sh"; }; Start = {Action = RunScript; Shell = "/bin/sh"; }; StartOpen = {Action = RunScript; Shell = "/bin/sh"; }; Version = 1; WrappedAppClassName = "Wrapper_Firefox"; }
