{ApplicationDescription = "A wrapped application"; ApplicationName = "Firefox.app"; ApplicationRelease = "1.0"; ApplicationURL = ""; FullVersionID = "1.0/1.0"; NSIcon = "AppIcon.tiff"; NSPrincipalClass = NSApplication; NSRole = None; NSServices = ({NSMenuItem = {default = "Open URL"; }; NSMessage = executeService; NSPortName = Firefox; NSSendTypes = (NSStringPboardType); NSUserData = "Service_000"; }); }
